<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
</head>
<body class="container">

<header>
    <%- include('./header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great <%= title %></h1>
        <p>Welcome to templating using EJS</p>
    </div>
</main>

</body>
</html>